html,
body{
    @include font-base();
    background-color: $background-color;
}
a { color: #666; }
.page {
    padding-top: 25px;
    padding-bottom: 25px;
}
.content-color {
    background: #f2f2f2;
}