.title {
    @include font-primary(18px);
    color: #000;
    span { color: $red; }
    &-page {
        text-transform: uppercase;
        margin: 20px 0;
    }
    &-footer {
        font-family: $family-tertiary;
        @include font-size(15px);
        font-weight: 700;
        color: $brand-primary;
        margin-bottom: 15px;
    }
}